*{
    box-sizing: border-box;
}
html, body{
    height: 100%;
    overflow: hidden;/* pesquisar */
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #c47ac0, #5563de);    
    font-family: 'Ropa Sans', sans-serif;
}
.slider{
    width: 300px;
    text-align: center;
    overflow: hidden;
}
.slides{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
.slides::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
.slides::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 10px;
}
.slides::-webkit-scrollbar-track{
    background: transparent;
}
.slides > div{
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    margin-right: 50px;
    border-radius: 10px;
    background-color: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: #ccc;
}
img{
    z-index: -1;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.slider > a{
    display: inline-flex;
    width: 1.5em;
    height: 1.5em;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5em 0;
    position: relative;
}
.slider > a:active{
    top: 1px;
}
.slider > a:focus{
    background: black;
}
@supports (scroll-snap-type){
    .slider > a{
        display: none;
    }
}